.results-wrap {
  background: $black;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  position: relative;
}

#results {
  h2 {
    margin: 0;
  }
  p {
    margin: 0.5em 0;
  }
  @media (min-width: $medium) {
    min-height: 300px;
  }
}

#search-criteria {
  background: $red;
  color: $white;
  padding: 15px;
  width: 100%;
  clear: both;
  border-top: 2px solid $vdkgrey;
  border-left: 2px solid $vdkgrey;
  border-right: 2px solid $vdkgrey;
  display: block;
  clear: both;
  p {
    margin: 0;
    strong {
      color: $vdkgrey;
      clear: both;
      display: block;
      width: 100%;
      float: left;
    }
    > span {
      float: left;
      span {
        color: $vdkgrey;
        display: inline-block;
      }
      span.spacer {
        display: none;
      }
    }
  }
  @media (min-width: $medium) {
    p {
      margin: 0.5em 0;
      strong {
        clear: none;
        display: inline;
        width: auto;
        float: none;
      }
      > span {
        float: right;
        span {
          display: inline-block;
          padding: 0;
        }
        span.spacer {
          display: inline-block;
        }
      }
    }
  }
}

.result {
  width: 100%;
  display: block;
  clear: both;
  border: 2px solid $vdkgrey;
  margin: 0 0 15px 0;
  display: flex;
  flex-flow: row wrap;
  background: $white;
}

.result-col {
  flex: 1 100%;
  width: 100%;
  padding: 15px;
  display: block;
  &:nth-child(1) {
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
  }
  &:nth-child(2) {
    flex: 1 1 66.66666666%;
    width: 66.66666666%;
    p {
      font-size: (12rem / 16);
    }
  }
  &:nth-child(3) {
    padding-top: 0px;
  }
  @media (min-width: $medium) {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      flex: 1 1 33.33333333%;
      width: 33.33333333%;
      padding: 15px;
      p {
        font-size: inherit;
      }
    }
  }
}

.result-image {
  display: block;
  width: 100%;
  opacity: 0.8;
  border: 1px solid $dkgrey;
  padding: 15px;
}

.rent-link {
  @include latobold;
  background: $red;
  border: 0px;
  color: $white;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 auto;
  transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-appearance: none;
  border-radius: 0;
  display: block;
  clear: both;
  float: left;
  &:hover {
    background: $vdkgrey;
    color: $red;
  }
}
